<header>
  Tiny App Project!
</header>

<% if(!user) { %>
  <!-- <form method="POST" action="/logout">
<button type = "submit">Logout</button>
</form> -->
<a href="/login">Login</a>
 <a href="/register">Register</a>
<% } else { %>
  <form method="POST" action="/logout">
<button type = "submit">Logout</button>
</form>
  <p> Welcome <%= user['email']  %>

<% } %>
</p>
