<header>
  Tiny App Project!
</header>

<% if(!user) { %>
  <form method="POST" action="/logout">
<button type = "submit">Logout</button>
</form>
<form  action="/login" method="POST">
<input type="text" name="username">
  <button type = "submit">Login</button>

</form>
<% } else { %>
  <form method="POST" action="/logout">
<button type = "submit">Logout</button>
</form>
  <%= user  %>
<% } %>
