<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
   <% include partials/_header.ejs %>
 </header>
  <ul>
  <li><%= shortURL %> - <%= urls[shortURL] %></li>
  </ul>


  <form method="POST" action="/urls/<%=shortURL%>">
    <input type="text" name="longURL" value=""/>
    <button type="submit">update</button>
  </form>
</body>
</html>
