<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
   <% include ../views/partials/_header.ejs %>
 </header>
  <ul>
  <li><%= shortURL %> - <%= urls[shortURL] %></li>
  </ul>
  <a href="#">Shorten Your Link Here!</a>
</body>
</html>
