<!doctype html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <h1>Welcome to the Registration Page</h1>
       <form method="POST" action="/register">

        <label for="email">Email</label>
       <input type="email" name="email" placeholder="enter">
       <label for ="password">Password</label>
       <input type="password" name="password" placeholder="enter">
       <button type = "Submit">Submit</button>

    </form>
</body>
</html>
